<h1 class="welcome">Moje zdravstveno stanje</h1>
<h1 *ngIf="zdravstvenoStanje == null" class="welcome">Doktor Vam još nije izdao zdravstveno stanje</h1>
<mat-card *ngIf="zdravstvenoStanje != null" class="zdravstvenoStanje-card">
  <mat-card-title class="zdravstvenoStanje-title">
    Zdravstveno stanje
  </mat-card-title>
    <mat-card-content>
      <p class="zdravstvenoStanje-jmbg">JMBG: {{zdravstvenoStanje.jmbg}}</p>

      <p class="zdravstvenoStanje-text">Zdravstveni problemi:</p>
      <p class="zdravstvenoStanje-field">- {{zdravstvenoStanje.zdravstveni_problemi}}</p>

      <p class="zdravstvenoStanje-text">Specifična ishrana:</p>
      <p class="zdravstvenoStanje-field">- {{zdravstvenoStanje.specificna_ishrana}}</p>

      <p class="zdravstvenoStanje-text">Dom zdravlja u kom je karton:</p>
      <p class="zdravstvenoStanje-field">- {{zdravstvenoStanje.dom_zdravlja_u_kom_je_karton}}</p>

      <p class="zdravstvenoStanje-text">Smetnje u razvoju:</p>
      <p class="zdravstvenoStanje-field">- {{zdravstvenoStanje.smetnje_u_razvoju}}</p>

      <p class="zdravstvenoStanje-text">Specifični podaci:</p>
      <p class="zdravstvenoStanje-field">- {{zdravstvenoStanje.specificni_podaci}}</p>
    </mat-card-content>
</mat-card>