.btn-info {
    margin-left: 580px;
   
}
.konkursNaslov{
    text-align: center;
}
.welcome {
    font-size: 45px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    color: black;
}