<mat-card style="width: 60%; margin:auto; margin-top: 10px;">
    <mat-card-title class="card-title" style="text-align: center; margin-bottom: 12px;">
        {{employee.firstName + " " + employee.lastName}}
    </mat-card-title>

    <h2 class="employee-item-items">Adresa: {{employee.address}}</h2>
    <h2 class="employee-item-items">Tip ugovora: {{status}}</h2>
    <h2 *ngIf="employee.employmentStatus == 'definite_contract'" class="employee-item-items">
        Trajanje: {{employee.employmentDuration}}
    </h2>
    <h2 class="employee-item-items">JMBG: {{employee.employeeID}}</h2><br/>

    <div>
        <button class="btn btn-primary m-3" (click)="patchStatus(2)">Prihvati</button>
        <button class="btn btn-primary" (click)="patchStatus(3)">Odbij</button>
    </div>
    
</mat-card>
