<mat-toolbar class="app-navbar" color="primary">
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button *ngIf="!isLoggedIn()" mat-button mat-ripple routerLink="/Login">
                <span>Prijava</span>
            </button>
            <button *ngIf="!isLoggedIn()" mat-button mat-ripple routerLink="/Register">
                <span>Registracija</span>
            </button>
            <button *ngIf="isLoggedIn()
            && this.storeService.getServiceFromStore()=='APR'
            && this.storeService.getCustomRole()=='Admin'" mat-button mat-ripple routerLink="/MyAprs">
                <span>Moj APR</span>
            </button>
            <button *ngIf="isLoggedIn()
            && this.storeService.getServiceFromStore()=='eZdravstvo'
            && this.storeService.getCustomRole()=='Doctor'" mat-button mat-ripple routerLink="/Appointments-Doctor">
                <span>Pregledi(Doctor)</span>
            </button>
            <button *ngIf="isLoggedIn()
            && this.storeService.getServiceFromStore()=='eZdravstvo'
            && this.storeService.getCustomRole()=='Doctor'" mat-button mat-ripple routerLink="/Vaccinations-Doctor">
                <span>Vakcinacije(Doctor)</span>
            </button>

            <button *ngIf="isLoggedIn()
            && this.storeService.getServiceFromStore()=='eZdravstvo'
            && this.storeService.getCustomRole()=='Doctor'" mat-button mat-ripple routerLink="/New-Person">
                <span>Dodavanje Osobe</span>
            </button>

            <button *ngIf="isLoggedIn()
            && this.storeService.getServiceFromStore()=='eZdravstvo'
            && this.storeService.getCustomRole()=='Regular'" mat-button mat-ripple routerLink="/Vaccinations-Regular">
                <span>Vakcinacije(Regular)</span>
            </button>
            <button *ngIf="isLoggedIn()
            && this.storeService.getServiceFromStore()=='eZdravstvo'
            && this.storeService.getCustomRole()=='Regular'" mat-button mat-ripple routerLink="/Appointments-Regular">
                <span>Pregledi(Regular)</span>
            </button>
            <button *ngIf="isLoggedIn()
            && this.storeService.getServiceFromStore()=='eVrtic'" mat-button mat-ripple routerLink="/Competitions">
                <span>Prijava na konkurs za vrtic</span>
            </button>
          <button *ngIf="isLoggedIn()
          && this.storeService.getServiceFromStore()=='eMaticar'
          && this.storeService.getCustomRole()=='Registrar'" mat-button mat-ripple routerLink="/Marriage">
            <span>Vencanje</span>
          </button>
          <button *ngIf="isLoggedIn()" mat-button mat-ripple routerLink="/chose-service">
            <span>Servisi</span>
          </button>
            <button *ngIf="isLoggedIn()" (click)="logout()" mat-button mat-ripple>
                <span>Logout</span>
            </button>
        </div>
    </div>
</mat-toolbar>
