<mat-card class="competition-card">
  <mat-card-title class="competition-title" [routerLink]="['/Competition-View', competition.id]"
    *ngIf="competition.vrtic != null">
    Grad {{competition.vrtic.grad}} , opstina {{competition.vrtic.opstina}}. Rok za prijavu je
    {{competition.kraj_konkursa * 1000 | date:'dd/MM/yyyy hh:mm a'}}
  </mat-card-title>
  <mat-card-content>
    <h1>Podaci o konkursu:</h1>
    <p class="competition-datumObjave"><b>Datum objave:</b> {{competition.datum_objave * 1000 | date:"medium"}}</p>
    <p class="competition-pocetakKonkursa"><b>Pocetak konkursa:</b> {{competition.pocetak_konkursa * 1000 |
      date:"medium" }}</p>
    <p class="competition-krajKonkursa"><b>Kraj konkursa:</b> {{competition.kraj_konkursa * 1000 | date:"medium"}}</p>
    <p class="competition-uzrast"><b>Uzrast:</b> {{competition.uzrast}}</p>
    <p class="competition-brojDece"><b>Broj dece:</b> {{competition.broj_dece}}</p>
    <p class="competition-status"><b>Status konkursa:</b> {{competition.status}}</p>


    <div *ngIf="competition.vrtic != null">
      <h2>Podaci o vrticu:</h2>
      <p><b>Naziv:</b> {{competition.vrtic.naziv}}</p>
      <p><b>Grad:</b> {{competition.vrtic.grad}}</p>
      <p><b>Opstina:</b> {{competition.vrtic.opstina}}</p>
      <p><b>Adresa:</b> {{competition.vrtic.adresa}}</p>
      <p><b>Telefon:</b> {{competition.vrtic.telefon}}</p>
      <p><b>Email:</b> {{competition.vrtic.email}}</p>

    </div>

  </mat-card-content>
</mat-card>