<mat-card class="competition-card">
  <mat-card-title class="">
    Prijava za konkurs u vrticu {{competition.vrtic.naziv}}
  </mat-card-title>
  <br>
  <mat-card-content class="competition-p">
    <h1><b>Podaci o konkursu:</b></h1>
    <p class="competition-datumObjave"><b>Datum objave:</b> {{competition.datum_objave * 1000 | date:"medium"}}</p>
    <p class="competition-pocetakKonkursa"><b>Pocetak konkursa:</b> {{competition.pocetak_konkursa * 1000 |
      date:"medium" }}</p>
    <p class="competition-krajKonkursa"><b>Kraj konkursa:</b> {{competition.kraj_konkursa * 1000 | date:"medium"}}</p>
    <p class="competition-uzrast"><b>Uzrast:</b> {{competition.uzrast}}</p>
    <p class="competition-brojDece"><b>Broj dece:</b> {{competition.broj_dece}}</p>
    <p class="competition-status"><b>Status konkursa:</b> {{competition.status}}</p>


    <br>
    <div *ngIf="competition.vrtic != null">
      <h1><b>Podaci o vrticu:</b></h1>
      <p><b>Naziv:</b> {{competition.vrtic.naziv}}</p>
      <p><b>Grad:</b> {{competition.vrtic.grad}}</p>
      <p><b>Opstina:</b> {{competition.vrtic.opstina}}</p>
      <p><b>Adresa:</b> {{competition.vrtic.adresa}}</p>
      <p><b>Telefon:</b> {{competition.vrtic.telefon}}</p>
      <p><b>Email:</b> {{competition.vrtic.email}}</p>

      <br>
      <button type="submit" *ngIf="isZatvoren() && isRegular() " class="btn btn-success" [routerLink]="['/Prijava', competition.id]">Prijava na
        konkurs</button>

        <br>
      <button type="submit" class="btn btn-danger" *ngIf="isZatvoren() && isAdmin()" (click)="updateStanjeCompetition(competition.id)" >Zavrsi
        konkurs</button>
        
        <button type="submit" class="btn btn-success" [routerLink]="['/PregledPrijava', competition.id]">Pregled prijava</button>
        <!-- *ngIf="isOtvoren()" -->
    </div>
  </mat-card-content>
</mat-card>