.competition-card {
  width: 850px;
  height: 750px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.competition-p {
  font: 20px sans-serif;
}

.competition-title {
  font-size: 22px;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
}

.competition-title:hover {
  box-shadow: 0 0 11px red;
}

.btn {
  left: 70%;
  height: 50px;
  margin: 5px;
}
