.vrtic-card {
    max-width: 530px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

 /* .competition-title-true {
  color: green;
 }

 .competition-title-false {
  color: red;
 } */