<mat-card class="dete-card">
    <div>
      <mat-card-title [routerLink]="['/Community-View', dete.id]" class="dete-ime-prezime">{{dete.ime}} {{dete.prezime}}
        <img style="float:left" class="image" src="https://static.vecteezy.com/system/resources/previews/007/296/443/original/user-icon-person-icon-client-symbol-profile-icon-vector.jpg">
      </mat-card-title>
    </div>
      <mat-card-content>
        <h3 class="dete-opis">JMBG: {{dete.jmbg}}</h3>
        <h3 class="dete-opis">Adresa: {{dete.adresa}}</h3>
        <h3 class="dete-opis">Opština: {{dete.opstina}}</h3>
      </mat-card-content>
</mat-card>